*
{
    padding: 0;
    margin: 0;
}

.contenedor
{
    width: 100%;
    height: 100%;
    background: rgb(65, 185, 221);
    background-position: center;
    background-size: cover;
}

.contenedorLogin
{
    background:ghostwhite;
    position: relative;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 70vh;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.75);
}

.contenedorLogin img
{
    position: relative;
    height: 18vh;
    bottom: 20vw;
    left: 0.5vw;
    width: 45vw;
    opacity: 0.8;
    margin-top: 15vw;
}

.datos
{
    width: 20vw;
    height: 20vh;
    position: relative;
    top: -10vw;
}

#correo, #pass
{
    position: relative;
    background: rgba(161, 161, 161, 0.4);
    color: black;
    border: none;
    border-radius: 2px;
    width: 60vw;
    height: 7vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    box-shadow: inset;
    box-shadow: 5px rgba(23, 212, 187, 0.9);
    transition: 1s;
}

#correo:focus, #pass:focus
{
    box-shadow: inset 0px 100px 0 rgb(0,0,0);
    color: ghostwhite;
}

#pass
{
    margin-top: 5vw;
}

::placeholder
{
    color: black;
}

.button
{
    position: relative;
    width: 60vw;
    height: 5vh;
    display: block;
}

#submit, #limpiar
{
    position: relative;
    background: rgb(65, 185, 221);
    width: 27vw;
    height: 5vh;
    color: ghostwhite;
    border: none;
    border-radius: 2px;
    bottom: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    transition: 0.3s;
}

#submit
{
    margin-right: 10%;
}


#limpiar:active, #submit:active
{
    border-radius: 25px;
    background: rgb(39, 92, 134);
    border: 2px solid rgb(75, 147, 206);
}

.mensaje
{
    position: absolute;
    display: flex;
    width: 60vw;
    height: 7vh;
    bottom: 5%;
    background: rgb(255, 0, 0);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4vw;
    color: ghostwhite;
    animation-name: aparicion;
    animation-duration: 1s;
}

@keyframes aparicion
{
    0% {background-color:rgb(5, 5, 5); bottom:-400px}
  100%  {background-color:rgb(255, 0, 0); left:13%;}

}

span
{
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ion-icon
{
    position: relative;
    color: ghostwhite;
    width: 6vw;
    height: 2vh;
    right: 0vw;
    bottom: 5vw;
}

.usuarios
{
    position: absolute;
    width: 80vw;
    height: 10vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

ion-select
{
    position: relative;
    width: 80vw;
    height: 7vh;
    bottom: 10%;
    border-radius: 10px;
    border: none;
    background: ghostwhite;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --placeholder-opacity: 1 !important;
    --placeholder-color: rgb(39, 38, 38);
}

ion-select-option
{
    color: #29235e
}


.loading
{
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 20vh;
}