*
{
  margin: 0;
  padding: 0;
  color: ghostwhite;
}

.container
{
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../../assets/imagenes/fondito.jpg);
    background-size: cover;
    background-position: center;
    
}

.imagenUno, .imagenDos
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.imagenUno
{
  border-bottom: 1px solid ghostwhite;
}

img
{
  width: 100%;
  height: 100%;
  transition: 0.2s;
  filter: brightness(0.6);
}

h1
{
  position: absolute;
  font-size: 2.5em;
  font-family: 'urban';
  color: ghostwhite;
}

ion-icon
{
    position: absolute;
    font-size: 40px;
    top: 1%;
    left: 2%;
    z-index: 1;
}